/*######################## $DeskTop First Method$ #############################*/
/*Most Common Used Break Points 1366px _ 1200px _ 992px _ 768px _ 576px _ 500px*/
/*#############################################################################*/

/*#############################################################################*/
/*########################## $XX-Large < (1400px)$ ############################*/
/*#############################################################################*/
@media (max-width: 1399.98px) {
  /* Container */
  .container {
    max-width: 1320px;
  }
  /* Section Services */
  .services-cards-row:first-of-type {
    margin-bottom: 25rem;
  }
  .services-cards-row {
    padding: 1rem;
  }
}
/*#############################################################################*/
/*########################### $X-Large < (1200px)$ ############################*/
/*#############################################################################*/
@media (max-width: 1199.98px) {
  /* Container */
  .container {
    max-width: 1140px;
  }
  /* cards-Section */
  .card {
    padding: 3rem 0rem;
  }
}
/*#############################################################################*/
/*############################ $Large < (992px)$ #############################*/
/*#############################################################################*/
@media (max-width: 991.98px) {
  /* Container */
  .container {
    max-width: 960px;
  }
  /* Logo Bar */
  .logobar-div:nth-child(2),
  .logobar-div:nth-child(3) {
    display: none;
  }
  .logobar-div {
    width: 50%;
  }
  .logo-img {
    width: 17rem;
  }
  .btn-quote:link,
  .btn-quote:visited,
  .btn-hero:link,
  .btn-hero:visited {
    font-size: 1.8rem;
  }
  /* Nav Bar */
  .navbar-icons {
    width: 25%;
  }
  .navbar-menu {
    width: 75%;
  }
  .menu-links:link,
  .menu-links:visited {
    font-size: 1.7rem;
  }
  .nav-social-icon {
    font-size: 2.5rem;
  }
  .nav-social-icon:not(:nth-of-type(4)) {
    margin-left: 1.5rem;
  }
  /* cards Section */
  .card {
    padding: 3rem 2rem;
    width: 50%;
  }
  /* Aboutus Section */
  .aboutus-section {
    padding: 5rem 0rem;
  }
  .aboutus-image {
    width: 100%;
  }
  .aboutus-heading {
    font-size: 2.8rem;
    text-align: center;
  }
  .aboutus-text {
    width: 100%;
  }
  .icon-heading {
    font-size: 1.75rem;
    letter-spacing: 1px;
  }
  /* Section Services */
  .service-card {
    width: 100%;
  }
  .service-card:last-child {
    margin-bottom: 2;
  }
  .service-card-btn:link,
  .service-card-btn:visited {
    bottom: 20%;
  }
}
/*#############################################################################*/
/*############################# $Medium < (768px)$ ############################*/
/*#############################################################################*/
@media (max-width: 767.98px) {
  /* Container */
  .container {
    max-width: 720px;
  }
  /* Logo Bar */
  .logo-img {
    width: 16rem;
  }
  .btn-quote:link,
  .btn-quote:visited,
  .btn-hero:link,
  .btn-hero:visited {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
  /* Nav Bar */
  .navbar-menu {
    width: 100%;
    text-align: center;
  }
  .navbar-icons {
    display: none;
  }
  .navbar-menu li:first-of-type {
    padding: 1rem 1rem 1rem 0rem;
  }
  .navbar-menu li:last-of-type {
    padding: 1rem 0rem 1rem 1rem;
  }
  /* Nav Bar */
  .menu-links:link,
  .menu-links:visited {
    font-size: 1.65rem;
  }
  /* Hero Image  */
  .hero-heading {
    font-size: 3.5rem;
  }
  /* cards Section */
  .card-heading {
    font-size: 2rem;
  }
  /* Aboutus Section */
  .aboutus-heading {
    font-size: 2.7rem;
  }
  .aboutus-icon-img {
    height: 7rem;
  }
  .icon-heading {
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-top: 1.1rem;
  }
  /* Section Services */
  .service-card {
    margin-bottom: 5rem;
    text-align: center;
  }
  .service-card-image {
    width: 100%;
  }
  .service-card-text {
    width: 100%;
    margin-top: 2rem;
  }
  .service-card-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .service-card-subtext {
    font-size: 1.75rem;
  }
  .service-card-para {
    margin-bottom: 3rem;
    text-align: center;
  }
  .service-card-btn:link,
  .service-card-btn:visited {
    bottom: 0%;
    right: 50%;
    transform: translate(50%, 75%);
    -webkit-transform: translate(50%, 75%);
    -moz-transform: translate(50%, 75%);
    -ms-transform: translate(50%, 75%);
    -o-transform: translate(50%, 75%);
  }
}
/*#############################################################################*/
/*############################ $Small < (576px)$ ##############################*/
/*#############################################################################*/
@media (max-width: 575.98px) {
  /* Container  */
  .container {
    max-width: 540px;
  }
  /* Logo Bar */
  .logo-img {
    width: 15rem;
  }
  /* Nav Bar */
  .menu-links:link,
  .menu-links:visited {
    font-size: 1.4rem;
  }
  /* Hero Image  */
  .hero-heading {
    font-size: 2.75rem;
  }
  /* cards Section */
  .card {
    width: 100%;
    padding: 3rem 2rem;
  }
  /* Aboutus Section */
  .aboutus-heading {
    font-size: 2.6rem;
  }
  .aboutus-icon-img {
    height: 6rem;
  }
  .icon-heading {
    font-size: 1.2rem;
    letter-spacing: 0px;
  }
}
/*#############################################################################*/
/*########################### $Extra Small < (500px)$ #########################*/
/*#############################################################################*/
@media (max-width: 500px) {
  /* Container  */
  .container {
    max-width: 100%;
    padding: 0rem 0.5rem;
  }
  /* Nav Bar */
  .menu-links:link,
  .menu-links:visited {
    font-size: 1.2rem;
  }
  .navbar-menu li {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .navbar-menu li:first-of-type {
    padding: 1rem 0.5rem 1rem 0rem;
  }
  .navbar-menu li:last-of-type {
    padding: 1rem 0rem 1rem 0.5rem;
  }
  /* Hero Image Section */
  .hero-heading {
    font-size: 2.4rem;
  }
  /* Aboutus Section */
  .aboutus-heading {
    font-size: 2.4rem;
  }
  .aboutus-icon-img {
    height: 5rem;
  }
  /* Section Services */
  .services-heading {
    font-size: 2.7rem;
  }
  .service-card-heading {
    font-size: 2rem;
  }
    .service-card-subtext {
    font-size: 1.5rem;
  }
}
