/*######################## $DeskTop First Method$ #############################*/
/*Most Common Used Break Points 1366px _ 1200px _ 992px _ 768px _ 576px _ 500px*/
/*#############################################################################*/

/*#############################################################################*/
/*########################## $XX-Large < (1400px)$ ############################*/
/*#############################################################################*/
@media (max-width: 1399.98px) {
  /* Container */
  .container {
    max-width: 1320px;
  }
}
/*#############################################################################*/
/*########################### $X-Large < (1200px)$ ############################*/
/*#############################################################################*/
@media (max-width: 1199.98px) {
  /* Container */
  .container {
    max-width: 1140px;
  }
}
/*#############################################################################*/
/*############################ $Large < (992px)$ #############################*/
/*#############################################################################*/
@media (max-width: 991.98px) {
  /* Container */
  .container {
    max-width: 960px;
  }
  /* Logo Bar */
  .logobar-div:nth-child(2),
  .logobar-div:nth-child(3) {
    display: none;
  }
  .logobar-div {
    width: 50%;
  }
  .logo-img {
    width: 17rem;
  }
  .btn-quote:link,
  .btn-quote:visited,
  .btn-hero:link,
  .btn-hero:visited {
    font-size: 1.8rem;
  }
}
/*#############################################################################*/
/*############################# $Medium < (768px)$ ############################*/
/*#############################################################################*/
@media (max-width: 767.98px) {
  /* Container */
  .container {
    max-width: 720px;
  }
  /* Logo Bar */
  .logo-img {
    width: 16rem;
  }
  .btn-quote:link,
  .btn-quote:visited,
  .btn-hero:link,
  .btn-hero:visited {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
}
/*#############################################################################*/
/*############################ $Small < (576px)$ ##############################*/
/*#############################################################################*/
@media (max-width: 575.98px) {
  /* Container  */
  .container {
    max-width: 540px;
  }
  /* Logo Bar */
  .logo-img {
    width: 15rem;
  }
}
/*#############################################################################*/
/*########################### $Extra Small < (500px)$ #########################*/
/*#############################################################################*/
@media (max-width: 500px) {
  /* Container  */
  .container {
    max-width: 100%;
    padding: 0rem .5rem;
  }
}
